#header {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}